* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
   
}

/* Start of Global */
h1{
    
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    
    
    
}

h2 {
    padding: 4rem;
    color: #e41248;
    font: 36px, sans-serif;
    font-weight: 700;
    width: 60%;
    margin: 0 auto;
    
}
#align {
	align-content: center;
}
/* End */

/* Start of header */

header {
    background: url('imgEntete.png') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    

}
.logo {
    width: 300px;
    height: 300px;
    display: flex;
    
    justify-self: flex-start;
    padding-bottom: 20px;
}
ul {
    display: inline;
}

ul img {
    height: 50px;
    width: 50px;
}

/* End */


/* Le programme Simplon */

ul{
    list-style-type: none;
}

#puces ::before{
    content:"\2022"; 
    color: #e41248;
	margin-right: 10px;

}


/* ul li ::before{
    content: "•";
    color: #e41248;
    margin-right: 10px;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    margin-left: -.8em;
    vertical-align: middle;-->

  
} */
/* 
Fin du Programme  */


/* Start of Card */

.card {
    /* border: none; */
    margin-left: 2em;
}

.card img {
    width: 100px;
}

/* button {
    background-color: #e41248;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 15px;
} */
.card{
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    padding: 4rem;
    margin: 1rem;
    border-radius: .8rem;
}
.btn {
    margin: 1em auto;
    border-radius: 1rem;
    box-shadow: 0 .3rem .8rem rgba(5,5,5,.16);
    /* padding: 10px; */
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    max-width: 28.2rem;
    box-sizing: border-box;
    display: inline-block;
}

/* End */

/* Paragraphe Simplon Access */

.gray{
    background-color: #e2e5e7;
}

h2 {
   font-size: 3,5rem;
   margin-bottom: 3rem;
   font-weight: 700;
   line-height: 1.2em;
   text-transform: uppercase;
}

/* Fin Pragraphe Simplon Access */

.liens {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.centre {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
}
/* /*Start of Contact/ */
.logo_circle img {
    width: 300px;
  
}
.circle {
    background: linear-gradient(0deg,transparent 50%,transparent 0),linear-gradient(180deg,transparent 50%,#fbfafa 0);

}
.circle_content{
background-color: #fbfafa;
padding: 4em;
}
.logo_circle {
   
    padding: 4rem 0;
   
}
.logo_circle p {
    font-weight: 500;
    font-size: 1.8rem;
}
.logo_circle span {
    font-size: 1.8rem;
    color: #e41248;
    font-weight: 700;
    text-decoration: underline;
}
/* End */
/* Start of Partenaires section */

.part_paragraph {
    
    padding: 2rem 0;
}
/* End of Partenaires section */




footer{
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex:1;
    

   display: flex;
   /* align-items: flex-end;
   justify-content: space-around;
   flex:1; */

}

.gauche{
    /* margin: 0;
    padding: 0; */
    padding: 2em;
    box-sizing: content-box;
    /* line-height: 10px; */
    line-height: 20px;
}

.simplon_logo{
    width: 20rem;
    max-width: 90%;
    padding-left: 4rem;
}



.sous_logo{
    font-size: 20px;
    color: white;
    margin-left: 4em;
    margin-bottom: 1rem;
}

.info_link{
    padding: 0 2rem;
    color: white;
    border-right: .2rem solid white;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2em;
    vertical-align: baseline;
}

.info__copyright{
    color: white;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    border: 0;
    
}

.droite{
    white-space: nowrap;
    margin: 0;
    /* padding: 0; */
    padding: 3em;
    border: 0;
    /* display: inline; */
}
.droite ul {
    display: flex;
    flex-direction: row;
    align-content: center;

}
.droite ul li {
    list-style: none;
   
}

.fb{
    line-height: 1.2em;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
}

.twitter{
    line-height: 1.2em;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
}

.insta{
    line-height: 1.2em;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
}

.linkedin{
    line-height: 1.2em;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;

}
